// Here you can add other styles
a:hover {
    text-decoration: none;
}
.card-section {
    div {
        display: inline-block;
    }
}
.card-body {
    h1 {
        padding-bottom: 10px;
    }
}
.full-width {
    tr {
        width: 100%;
    }
}
table {
    width: 100%;
}
.data-row {
    border-bottom: 1px solid #f0f0f0;
}
.renderKey {
    padding: 10px 5px;
    font-size: 18px;
    cursor: pointer;
}
.renderValue {
    padding: 10px 15px;
    margin: 2px 5px;
    background: #e0e0e0;
    cursor: pointer;
}
.area {
    padding: 10px 0;
}
ul {
    padding-left:0;
}
ul li {
    list-style-type: none
}
.row {
    display: block;
}
